In [67]:
import pandas as pd
import numpy as np
import os
import altair as alt
import seaborn as sns
import matplotlib.pyplot as plt

In [68]:
os.getcwd()

'C:\\python_workfolder\\wri_interview'

In [69]:
human_development_data_path = os.path.join('development_data_copy.csv')
emission_data_path = os.path.join('historical_emissions.csv')
print(emission_data_path)

historical_emissions.csv

In [70]:
emission_data = pd.read_csv(emission_data_path)

In [116]:
emission_data['Unit'].value_counts()

MtCO₂e    2708
Name: Unit, dtype: int64

In [72]:
columns = emission_data.columns.tolist()

In [73]:
years = columns[4:]

In [99]:
print(len(emission_data['2010']))

2708

In [101]:
emission_data_edited = pd.melt(emission_data, id_vars = ['Country', 'Data source', 'Sector', 'Gas'], value_vars = years, var_name = 'Year', value_name = 'Emission')

In [102]:
emission_data_edited

,Country,Data source,Sector,Gas,Year,Emission
0,World,CAIT,Total including LUCF,All GHG,Unit,MtCO₂e
1,World,CAIT,Total excluding LUCF,All GHG,Unit,MtCO₂e
2,World,CAIT,Energy,All GHG,Unit,MtCO₂e
3,World,CAIT,Electricity/Heat,All GHG,Unit,MtCO₂e
4,China,CAIT,Total excluding LUCF,All GHG,Unit,MtCO₂e
...,...,...,...,...,...,...
81235,Tonga,CAIT,Fugitive Emissions,All GHG,1990,0
81236,Uganda,CAIT,Fugitive Emissions,All GHG,1990,0
81237,Saint Vincent and the Grenadines,CAIT,Fugitive Emissions,All GHG,1990,0
81238,Vanuatu,CAIT,Fugitive Emissions,All GHG,1990,0
81239,Samoa,CAIT,Fugitive Emissions,All GHG,1990,0

In [113]:
emission_data_edited.to_csv('emission_data_edited.csv', index = False)

In [19]:
development_data = pd.read_csv(human_development_data_path, engine='python')

In [20]:
development_data.head()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019
0,169,Afghanistan,0.302,NaN,0.307,NaN,0.316,NaN,0.312,NaN,...,NaN,0.5,NaN,0.502,NaN,0.506,NaN,0.509,NaN,0.511
1,69,Albania,0.65,NaN,0.631,NaN,0.615,NaN,0.618,NaN,...,NaN,0.788,NaN,0.788,NaN,0.79,NaN,0.792,NaN,0.795
2,91,Algeria,0.572,NaN,0.576,NaN,0.582,NaN,0.586,NaN,...,NaN,0.74,NaN,0.743,NaN,0.745,NaN,0.746,NaN,0.748
3,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,NaN,0.862,NaN,0.866,NaN,0.863,NaN,0.867,NaN,0.868
4,148,Angola,..,NaN,..,NaN,..,NaN,..,NaN,...,NaN,0.572,NaN,0.578,NaN,0.582,NaN,0.582,NaN,0.581

In [21]:
development_data.columns

Index(['HDI Rank', 'Country', '1990', 'Unnamed: 3', '1991', 'Unnamed: 5',
       '1992', 'Unnamed: 7', '1993', 'Unnamed: 9', '1994', 'Unnamed: 11',
       '1995', 'Unnamed: 13', '1996', 'Unnamed: 15', '1997', 'Unnamed: 17',
       '1998', 'Unnamed: 19', '1999', 'Unnamed: 21', '2000', 'Unnamed: 23',
       '2001', 'Unnamed: 25', '2002', 'Unnamed: 27', '2003', 'Unnamed: 29',
       '2004', 'Unnamed: 31', '2005', 'Unnamed: 33', '2006', 'Unnamed: 35',
       '2007', 'Unnamed: 37', '2008', 'Unnamed: 39', '2009', 'Unnamed: 41',
       '2010', 'Unnamed: 43', '2011', 'Unnamed: 45', '2012', 'Unnamed: 47',
       '2013', 'Unnamed: 49', '2014', 'Unnamed: 51', '2015', 'Unnamed: 53',
       '2016', 'Unnamed: 55', '2017', 'Unnamed: 57', '2018', 'Unnamed: 59',
       '2019'],
      dtype='object')

In [37]:
development_data_no_nan_col = development_data[development_data.columns.drop(list(development_data.filter(regex='Unnamed')))]

In [106]:
country_data = development_data_no_nan_col[:-17]

In [108]:
summary_data = development_data_no_nan_col[-17:]

In [39]:
columns = development_data_no_nan_col.columns.tolist()

In [107]:
time = columns[2:]

In [41]:
development_data_no_nan_col= pd.melt(development_data_no_nan_col, id_vars = ['Country'], value_vars = time, var_name = 'Year', value_name = 'HDI')

In [46]:
country_data.to_csv('country_development_index.csv', index = False)

In [110]:
summary_data.to_csv('summary_development_index.csv', index = False)